<div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
  
</div>
    <!-- Page Header Start--> 
    
    <div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s"> 
        <img src="../../assets/img/servicios1.jpg" class="d-block w-100" alt="...">
        
    </div>
    <!-- Page Header End -->
    
<!-- Service Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto pb-4 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h1 class="display-5 mb-4" style="font-family: 'Lobster', cursive; " >
                Brindamos los mejores servicios en la construccion</h1>
        </div>
        <div class="row gy-5 gx-4">
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item">
                    <img class="img-fluid" src="../assets/img/service-1.jpg" alt="">
                    <div class="service-img">
                        <img class="img-fluid" src="../assets/img/service-1.jpg" alt="">
                    </div>
                    <div class="service-detail">
                        <div class="service-title">
                            <hr class="w-25">
                            <h3 class="mb-0">Ingeniero & Maestros</h3>
                            <hr class="w-25">
                        </div>
                        <div class="service-text">
                            <p class="text-white mb-0">El ingeniero civil siempre tendrá bajo su cargo, un equipo de
                                personas dispuestas a recibir orientación y asesoría. Entre ese grupo de personas, está
                                su mano derecha, el maestro de obras.</p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item">
                    <img class="img-fluid" src="../assets/img/service-2.jpg" alt="">
                    <div class="service-img">
                        <img class="img-fluid" src="../assets/img/service-2.jpg" alt="">
                    </div>
                    <div class="service-detail">
                        <div class="service-title">
                            <hr class="w-25">
                            <h3 class="mb-0">Oficial & Ayudante</h3>
                            <hr class="w-25">
                        </div>
                        <div class="service-text">
                            <p class="text-white mb-0">Actuar de manera segura en el desempeño de su cargo de acuerdo a
                                las tareas críticas del mismo, asegurándose de utilizar los elementos de protección
                                personal (EPP) asignados, de acuerdo a las actividades que realiza.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item">
                    <img class="img-fluid" src="../assets/img/service-3.jpg" alt="">
                    <div class="service-img">
                        <img class="img-fluid" src="../assets/img/service-3.jpg" alt="">
                    </div>
                    <div class="service-detail">
                        <div class="service-title">
                            <hr class="w-25">
                            <h3 class="mb-0">Electricista & Plomero</h3>
                            <hr class="w-25">
                        </div>
                        <div class="service-text">
                            <p class="text-white mb-0">Encontrar a especialistas en plomería y electricidad que sean
                                confiables y garanticen calidad no es una tarea sencilla, sobre todo si se está en medio
                                de una emergencia; sin embargo, esto podría quedar atrás con hand to work, la aplicación
                                donde se pueden contratar estos y otros servicios las 24 horas.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->

<!-- Footer Start -->


<footer class="footer-section">
    <div class="container">
        <div class="footer-cta pt-5 pb-5">
            <div class="row">
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fas fa-map-marker-alt"></i>
                        <div class="cta-text">
                            <h4>Nuestras oficinas</h4>
                            <span>calle 12 </span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="bi bi-phone-flip"></i>
                        <div class="cta-text">
                            <h4>Contacto</h4>
                            <span>+57 3117435713</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="bi bi-envelope-open"></i>
                        <div class="cta-text">
                            <h4>Email</h4>
                            <span>info@construccion.com</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-content pt-5 pb-5">
            <div class="row">
                <div class="col-xl-4 col-lg-4 mb-50">
                    <div class="footer-widget">
                        <div class="footer-logo">
                            <a href="index.html"><img src="../../assets/img/HandsAtWorkLogo.jpg" class="img-fluid"
                                    alt="logo"></a>
                        </div>
                        <div class="footer-text">
                            <p>Aunque parezcan imposibles, debemos tener la fortaleza suficiente para nunca dejar de
                                perseguirlos. Uno nunca sabe cuando pueden hacerse realidad.</p>
                        </div>
                        <div class="footer-social-icon">
                            <span>Follow us</span>
                            <div class="col-md-3 col-sm-4 col-xs-6">
                                <ul class="social-icons">
                                    <li><a class="facebook" href="#"><i class="bi bi-facebook"></i></a></li>
                                    <li><a class="instagram" href="#"><i class="bi bi-instagram"></i></a></li>


                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Enlaces</h3>
                        </div>
                        <ul>
                            <li><a href=" ">Home</a></li>
                            <li><a href="/Profesionales">Profesionales</a></li>
                            <li><a href="/Areas">Areas</a></li>
                            <li><a href="/Servicios ">Servicios</a></li>
                            <li><a href="/Proyectos">Proyectos</a></li>
                            <li><a href="/Ranking ">Ranking</a></li>
                            <li><a href="/Contacto ">Contacto</a></li>
                           <li><a href="/Solicitud " >Solicitudes</a></li> 

                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Registrarse</h3>
                        </div>
                        <div class="footer-text mb-25">
                            <p>Registrarse en nuestra plataforma.</p>
                        </div>
                        <div class="subscribe-form">
                            <form action="#">
                                <input type="text" placeholder="Email ">
                                <button><i class="bi bi-telegram"></i></button>
                                
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                    <div class="copyright-text">
                        <p  style="font-family: 'Lobster', cursive; " >hand to work <a href=" ">Home</a></p>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                    <div class="footer-menu">
                        <ul>
                            
                            <li><a href="/Contacto ">Contacto</a></li>
                            <li><a href="/Profesionales">Profesionales</a></li>
                            <li><a href="/Areas">Areas</a></li>
                            <li><a href="/Servicios">Servicios</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Footer End -->